<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernateDemo</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <mapping class="com.hibernate.Student"/>
        <mapping class="com.hibernate.Address"/>
        <mapping class="com.hibernate.MappingDemo.OneToOne.Question" />
        <mapping class="com.hibernate.MappingDemo.OneToOne.Answer" />
        <mapping class="com.hibernate.MappingDemo.OneToMany.Questions" />
        <mapping class="com.hibernate.MappingDemo.OneToMany.Answers" />

        <mapping class="com.hibernate.MappingDemo.ManyToMany.Project" />
        <mapping class="com.hibernate.MappingDemo.ManyToMany.Employee" />
    </session-factory>
</hibernate-configuration>